body{
    background-color: #C6FFD2;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9CF4A5;
    font-size: 20px;
}
.cabecalho_titulo{
    display: inline;
}

.cabecalho_imagem{
    width: 201px;
    height:195px ;
}

.cabecalho_menu{
    display: inline;
}

.cabecalho_menu_item{
    display: inline;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    font-size: 25px;

}
