*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #C6FFD2;
    font-family: 'Sono', sans-serif;
    }

    .cabecalho{
    background-color: #5FE56D;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-size: 15px;
    }
    .cabecalho_titulo{
    display: inline;
    }

    .cabecalho_imagem{
    width: 201px;
    height:195px;
    }

    .cabecalho_menu{
    display: inline;
    }

    .cabecalho_menu_item{
    display: inline;
    justify-content: space-around;
    align-items: center;
    margin-left: 250px;
    font-size: 25px;
    color: #8A2574;
    }

    .escola{
        display: flex;
        background-color: #87EC91;
        justify-content: space-around;
        align-items:center;
        margin: 20px;
        border-radius: 40px;
    }

    p.professores_div-paragrafo{
        width: 112px;
    }

    .escola_imagem{
        width: 234px;
        height: 229px;
    }

    .professores{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        background-color: #6AE37D;
        justify-items: center;
        gap:50px;
        margin: 1%;
        padding: 1%;
    }
   
    .professores_div-imagem{
        width: 112px;
        height: 120px;
    }
    
    .rodape{
        background-color: ##C6FFD2;
    }

    p.rodape{
        display:block;
    }

