*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #C6FFD2;
    }

    .cabecalho{
    background-color: #5FE56D;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    font-size: 20px;
    }
    .cabecalho_titulo{
    display: inline;
    }

    .cabecalho_imagem{
    width: 201px;
    height:195px;
    }

    .cabecalho_menu{
    display: inline;
    }

    .cabecalho_menu_item{
    display: inline;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    font-size: 25px;
    color: #8A2574;
    }

    .escola{
        background-color: #87EC91;
    }

    .escola_imagem{
        width: 234px;
        height: 229px;
    }

    .professores{
        background-attachment: #6AE37D;
    }

    .professores_div-imagem{
        width: 120px;
        height: 112px;
    }
        

   

